[Unit]
Description=Pingmon
After=network-online.target network.target

[Service]
Type=notify
User=nobody
Group=nobody
EnvironmentFile=/etc/pingmon.conf
ExecStart=/usr/local/bin/pingmon
ProtectSystem=strict
ProtectHome=True

[Install]
WantedBy=multi-user.target

